<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>List Hotel</title>
</head>
<body>
    <!--
    {% if request.session.role == 0 %}
    <div class="container">
        <div class="d-flex flex-column align-items-center my-5">
            <h4>Update Transaksi</h4>
            <form class="my-4" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <b>{{ field.label_tag }}</b>
                    {% if field.name == "waktu_pembayaran" %}
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        {{ form.waktu_pembayaran }}
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <script>
                        $(function () {
                        $("#datetimepicker1").datetimepicker({
                            format: 'DD/MM/YYYY HH:mm',
                        });
                        });
                    </script>
                    {% else %}
                    <div class="d-flex">
                        {{ field }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary pl-4 pr-4">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
        <div class="container" align="center" style="left: 50%; top: 45%; position: absolute;  transform: translate(-50%, -55%);">
            <h2>Maaf, halaman ini hanya untuk admin.</h2>
            <h4>Jika Anda merupakan admin, silahkan login sebagai admin.</h4>
            <h4>Terima kasih.</h4>
        </div>
    {% endif %}
    -->

    <div class="container">
        <div class="d-flex flex-column align-items-center my-5">
            <h1>Form Pembuatan Hotel</h1>
            <form class="my-4" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <b>{{ field.label_tag }}</b>
                    <div class="d-flex">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary pl-4 pr-4">SIMPAN</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>