<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
</head>
<body>
    <div class="container">
        <h1 class="text-center header-big">DETAIL TRANSAKSI MAKAN</h1>
        <label><strong>Id Transaksi: </strong>{{ detail_transaksi_makan.idtransaksi }}</label>
        <br>
        <label><strong>Id Transaksi Makan: </strong>{{ detail_transaksi_makan.idtransaksimakanan }}</label>
        <br>
        <label><strong>Kode Hotel: </strong>{{ daftar_pesanan.kodehotel }}</label>  
	    <br>
	    <br>
        <table class="table table-bordered table-hover">
        <caption style="text-align: left;">Daftar Pesanan:</caption>
    </div>
  <thead>
    <tr>
      <th scope="col" class="text">Id Pesanan</th>
      <th scope="col" class="text">Paket Makan</th>
      <th scope="col" class="text">Harga</th>      
    </tr>
  </thead>
  <tbody>
    {% for pesanan in daftar_pesanan %}
    <tr>
        <th scope="row" class="text">{{ forloop.counter }}</th>
        <td class="text">{{ pesanan.kodepaket }}</td>
        <td class="text">{{ pesanan.harga }}</td> <!--gatau gmn cara ngambil harganya-->
        </tr>
    {% endfor %}
  </tbody>
</table>
    <label><strong>Total: </strong>Rp{{ detail_transaksi_makan.totalbayar }}</label> 
    <a href="{% url 'lima:listTransaksiMakan' %}">
        <button class="editbtn">Kembali</button>
    </a>
</body>
</html>