<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>List Transaksi Makan dan Daftar Pesan</title>
</head>
<body>
    <h1>List Transaksi Makan dan Daftar Pesan</h1><br><br>
    <table style="width: 50%;">
        <thead>
        <tr>
            <th scope="col" class="text">No.</th>
            <th scope="col" class="text">Id Transaksi Hotel</th>
            <th scope="col" class="text">Id Transaksi</th>
            <th scope="col" class="text">Total Bayar</th>
            <th scope="col" class="text">Action</th>
        </tr>
        </thead>
    
        <tbody>
        {% for transaksi_makan in list_transaksi_makan %}
        <tr>
            <td scope="row" class="text" style="text-align: center;">{{ forloop.counter }}</td>
            <td class="text" style="text-align: center;">{{ transaksi_makan.idtransaksi }}</td>
            <td class="text" style="text-align: center;">{{ transaksi_makan.idtransaksimakanan }}</td>
            <td class="text" style="text-align: center;">{{ transaksi_makan.totalbayar }}</td>
            <td class="text" style="text-align: center;">
                <a href="{% url 'lima:detailTransaksiMakan' idtransaksimakanan=transaksi_makan.idtransaksimakanan %}">
                    <button class="editbtn">Detail</button>
                </a>  
                <a href="#">
                    <button class="editbtn">Update</button>
                </a>  
                <a href="#">
                    <button class="editbtn">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>
