<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>List Paket Makan</title>
</head>
<body>
    <h1>List Paket Makan</h1><br><br>
    <table style="width: 50%;">
        <thead>
        <tr>
            <th scope="col" class="text">No.</th>
            <th scope="col" class="text">Hotel</th>
            <th scope="col" class="text">Kode Paket</th>
            <th scope="col" class="text">Nama Paket</th>
            <th scope="col" class="text">Harga</th>
            <th scope="col" class="text">Action</th>
        </tr>
        </thead>
    
        <tbody>
        {% for paket_makan in detail_paket_makan %}
        <tr>
            <td scope="row" class="text" style="text-align: center;">{{ forloop.counter }}</td>
            <td class="text" style="text-align: center;">{{ paket_makan.kodehotel }}</td>
            <td class="text" style="text-align: center;">{{ paket_makan.kodepaket }}</td>
            <td class="text" style="text-align: center;">{{ paket_makan.nama }}</td>
            <td class="text" style="text-align: center;">{{ paket_makan.harga }}</td>
            <td class="text" style="text-align: center;">
                <a href="#">
                    <button class="editbtn">Detail</button>
                </a>  
                <a href="#">
                    <button class="editbtn">Update</button>
                </a>  
                <a href="#">
                    <button class="editbtn">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>