<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>List Hotel</title>
</head>
<body>
    <h1>List Hotel</h1><br><br>
    <table style="width: 50%;">
        <thead>
        <tr>
            <th scope="col" class="text">No.</th>
            <th scope="col" class="text">Kode</th>
            <th scope="col" class="text">Hotel</th>
            <th scope="col" class="text">Rujukan</th>
            <th scope="col" class="text">Alamat</th>
            
            <th scope="col" class="text">Action</th>
            
        </tr>
        </thead>
    
        <tbody>
        {% for data_hotel in hotel %}
        <tr>
            <td scope="row" class="text" style="text-align: center;">{{ forloop.counter }}</td>
            <td class="text" style="text-align: center;">{{ data_hotel.kode }}</td>
            <td class="text" style="text-align: center;">{{ data_hotel.nama }}</td>
            {% if data_hotel.isrujukan == '1' %}
                <td class="text" style="text-align: center;"><input type="checkbox" checked disabled></td>
            {% else %}
                <td class="text" style="text-align: center;"><input type="checkbox" disabled></td>
            {% endif %}
            <td class="text" style="text-align: center;">{{ data_hotel.jalan }}, {{ data_hotel.kelurahan }}, {{ data_hotel.kecamatan }}, {{ data_hotel.kabkot }}, {{ data_hotel.prov }}</td>
            
            <td class="text" style="text-align: center;">
                <a href="{% url 'lima:updateHotel' kode=data_hotel.kode%}">
                    <button class="editbtn">Update</button>
                </a>
            </td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>