{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Update Hotel</title>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column align-items-center my-5">
            <h1>Update Hotel</h1>
            <form class="my-4" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <b>{{ field.label_tag }}</b>
                    <div class="d-flex">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary pl-4 pr-4">SIMPAN</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
