!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" >
  <title>Data Ruangan Hotel</title>
</head>
<body>
  <h2>Data Ruangan Hotel</h2><br><br>

  <table style="width: 50%;">
    <tr>
      <th>Kode Hotel</th>
      <th>Kode Room</th>
      <th>Jenis Bed</th>
      <th>Tipe</th>
      <th>Harga</th>
    </tr>

    {% for i in listRuanganHotel %}
    <tr>
        <td style="text-align: center;"> {{ i.kodehotel }} </td>
        <td style="text-align: center;"> {{ i.koderoom }} </td>
        <td style="text-align: center;"> {{ i.jenisbed }} </td>
        <td style="text-align: center;"> {{ i.tipe }} </td>
        <td style="text-align: center;"> {{ i.harga }} </td>
    </tr>
    {% endfor %}

  </table>
</body>
</html>
