{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Update Ruangan Hotel</title>
</head>
<body>
  <h2>Update Ruangan Hotel</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="KodeHotel">Kode Hotel: </label>
            {% for i in KodeHotel %}
            <input disabled id="KodeHotel" name = "KodeHotel" value = "{{ i.KodeHotel }}">
            <input type="KodeHotel" id="KodeHotel" name = "KodeHotel" value = "{{ i.KodeHotel }}">
            {% endfor %}
    </div>

    <div>
        <label for="KodeRoom">Kode Room: </label>
            {% for i in KodeRoom %}
            <input disabled id="KodeRoom" name = "KodeRoom" value = "{{ i.KodeRoom }}">
            <input type="KodeRoom" id="KodeRoom" name = "KodeRoom" value = "{{ i.KodeRoom }}">
            {% endfor %}
    </div>

    <div>
        <label for="JenisBed">Jenis Bed: </label>
        <input required name="JenisBed:" id="JenisBed">
        </select>
    </div>

    <div>
        <label for="Tipe">Tipe: </label>
        <input required name="Tipe:" id="Tipe">
        </select>
    </div>

    <div>
        <label for="Harga">Harga: </label>
        <input required name="Harga:" id="Harga">
        </select>
    </div>


    <div class="row center">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


</body>
</html>
