{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Add Ruangan Hotel</title>
</head>
<body>
  <h2>Add Ruangan Hotel</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="KodePasien">Kode Pasien: </label>
        <input required name="KodePasien:" id="KodePasien">
        </select>
    </div>

    <div>
        <label for="TglMasuk">Tanggal Masuk: </label>
        <input type="TglMasuk" required name="TglMasuk" id="tanggal">
        </select>
    </div>

    <div>
        <label for="TglKeluar">Tanggal Keluar: </label>
        <input type="TglKeluar" required name="TglKeluar" id="tanggal">
        </select>
    </div>

    <div>
        <label for="KodeHotel">Kode Hotel: </label>
        <input required name="KodeHotel:" id="KodeHotel">
        </select>
    </div>

    <div>
        <label for="KodeRoom">Kode Room: </label>
        <input required name="KodeRoom:" id="KodeRoom">
        </select>
    </div>

    <div class="row center">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


</body>
</html>
