!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet">
  <title>Data Reservasi Hotel</title>
</head>
<body>
  <h2>Data Reservasi Hotel</h2><br><br>

  <table style="width: 50%;">
    <tr>
      <th>Kode Pasien</th>
      <th>Tanggal Masuk</th>
      <th>Tanggal Keluar</th>
      <th>Kode Hotel</th>
      <th>Kode Room</th>
    </tr>

    {% for i in listReservasiHotel %}
    <tr>
        <td style="text-align: center;"> {{ i.kodepasien }} </td>
        <td style="text-align: center;"> {{ i.tglmasuk }} </td>
        <td style="text-align: center;"> {{ i.tglkeluar }} </td>
        <td style="text-align: center;"> {{ i.kodehotel }} </td>
        <td style="text-align: center;"> {{ i.koderoom }} </td>
    </tr>
    {% endfor %}

  </table>
</body>
</html>
