{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Add Ruangan Hotel</title>
</head>
<body>
  <h2>Add Ruangan Hotel</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="KodePasien">Kode Pasien: </label>
            {% for i in KodePasien %}
            <input disabled id="KodePasien" name = "KodePasien" value = "{{ i.KodePasien }}">
            <input type="KodePasien" id="KodePasien" name = "KodePasien" value = "{{ i.KodePasien }}">
            {% endfor %}
    </div>

    <div>
        <label for="TglMasuk">Tanggal Masuk: </label>
            {% for i in TglMasuk %}
            <input disabled id="TglMasuk" name = "TglMasuk" value = "{{ i.TglMasuk }}">
            <input type="TglMasuk" id="TglMasuk" name = "TglMasuk" value = "{{ i.TglMasuk }}">
            {% endfor %}
    </div>


    <div>
        <label for="TglKeluar">Tanggal Keluar: </label>
        <input type="TglKeluar" required name="TglKeluar" id="tanggal">
        </select>
    </div>

    <div>
        <label for="KodeHotel">Kode Hotel: </label>
            {% for i in KodeHotel %}
            <input disabled id="KodeHotel" name = "KodeHotel" value = "{{ i.KodeHotel }}">
            <input type="KodeHotel" id="KodeHotel" name = "KodeHotel" value = "{{ i.KodeHotel }}">
            {% endfor %}
    </div>


    <div>
        <label for="KodeRoom">Kode Room: </label>
            {% for i in KodeRoom %}
            <input disabled id="KodeRoom" name = "KodeRoom" value = "{{ i.KodeRoom }}">
            <input type="KodeRoom" id="KodeRoom" name = "KodeRoom" value = "{{ i.KodeRoom }}">
            {% endfor %}
    </div>


    <div class="row center">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


</body>
</html>
