!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet">
  <title>Data Transaksi Hotel</title>
</head>
<body>
  <h2>Data Transaksi Hotel</h2><br><br>

  <table style="width: 50%;">
    <tr>
      <th>Id Transaksi</th>
      <th>Kode Pasien</th>
      <th>Tanggal Pembayaran</th>
      <th>Waktu Pembayaran</th>
      <th>Total Bayar</th>
      <th>Status Bayar</th>
    </tr>

    {% for i in listTransaksiHotel %}
    <tr>
      <td style="text-align: center;"> {{ i.idtransaksi }} </td>
      <td style="text-align: center;"> {{ i.kodepasien }} </td>
      <td style="text-align: center;"> {{ i.tanggalpembayaran }} </td>
      <td style="text-align: center;"> {{ i.waktupembayaran }} </td>
      <td style="text-align: center;"> {{ i.totalbayar }} </td>
      <td style="text-align: center;"> {{ i.statusbayar }} </td>
    </tr>
    {% endfor %}

  </table>
</body>
</html>
