!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet">
  <title>Data Transaksi Booking</title>
</head>
<body>
  <h2>Data Transaksi Booking</h2><br><br>

  <table style="width: 50%;">
    <tr>
      <th>Id Transaksi Booking</th>
      <th>Total Bayar</th>
      <th>Kode Pasien</th>
      <th>Tanggal Masuk</th>
    </tr>

    {% for i in listTransaksiBooking %}
    <tr>
      <td style="text-align: center;"> {{ i.idtransaksibooking }} </td>
      <td style="text-align: center;"> {{ i.totalbayar }} </td>
      <td style="text-align: center;"> {{ i.kodepasien }} </td>
      <td style="text-align: center;"> {{ i.tglmasuk }} </td>
    </tr>
    {% endfor %}

  </table>
</body>
</html>
