{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Buat Jadwal Dokter</title>
</head>
<body>
  <h2>Buat Jadwal Dokter</h2><br>

  <a href="/home">Home</a><br>

  <table style="width: 50%;">
    <tr>
      <th>Kode Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
      <th>Buat Jadwal</th>
    </tr>

    {% for i in listJadwal %}
    <tr>
        <td style="text-align: center;"> {{ i.kode_faskes }} </td>
        <td style="text-align: center;"> {{ i.shift }} </td>
        <td style="text-align: center;"> {{ i.tanggal }} </td>
        <td style="text-align: center;"><a href="/dua/createJaDok/{{i.urutan}}">Create</a></td>
    </tr>
    {% endfor %}

  </table>

</body>
</html>
