{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Siruco - Jadwal Dokter</title>
</head>
<body>
  <h2>Jadwal Dokter Dibuat</h2><br>

  <a href="/home">Home</a><br>
  
  <table style="width: 50%;">
    <tr>
      <th>No. STR</th>
      <th>Dokter</th>
      <th>Kode Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
      <th>Jumlah Pasien</th>
    </tr>

    {% for i in listJadwal %}
    <tr>
        <td style="text-align: center;"> {{ i.nostr }} </td>
        <td style="text-align: center;"> {{ i.username }} </td>
        <td style="text-align: center;"> {{ i.kode_faskes }} </td>
        <td style="text-align: center;"> {{ i.shift }} </td>
        <td style="text-align: center;"> {{ i.tanggal }} </td>
        <td style="text-align: center;"> {{ i.jmlpasien }} </td>
    </tr>
    {% endfor %}

  </table>

</body>
</html>
