{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Buat Data Rumah Sakit</title>
</head>
<body>
  <h2>Buat Data Rumah Sakit</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="faskes">Faskes: </label>
        <select required name="faskes" id="faskes">
            {% for i in daftar_faskes %}
            <option value="{{ i.kode }}">{{ i.kode }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="rujukan">Rujukan: </label>
        <input type="hidden" name="rujukan" id ="rujukan" value="0">
        <input type="checkbox" name="rujukan" id ="rujukan" value="1">
    </div>
    
    <div class="row center">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


</body>
</html>
