{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Update Data Rumah Sakit</title>
</head>
<body>
  <h2>Update Data Rumah Sakit</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="faskes">Faskes: </label>
            {% for i in daftar_faskes %}
            <input disabled id="faskes" name = "faskes" value = "{{ i.kode_faskes }}">
            <input type="hidden" id="faskes" name = "faskes" value = "{{ i.kode_faskes }}">
            {% endfor %}
    </div>

    <div>
        <label for="rujukan">Rujukan: </label>
        <input type="checkbox" name="rujukan" id="rujukan" value="1">
    </div>
    
    <div class="row center">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


</body>
</html>
