{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>List Jadwal Rumah Sakit</title>
</head>
<body>
  <h2>List Jadwal Rumah Sakit</h2><br><br>
  <table style="width: 50%;">
    <tr>
      <th>Kode</th>
      <th>Rujukan</th>
    </tr>

    {% for i in listrumahsakit %}
    <tr>
        <td style="text-align: center;"> {{ i.kode_faskes }} </td>

        {% if i.isrujukan == '1' %}
        <td style="text-align: center;"> 
            <div>
                <input type="checkbox" checked disabled>
            </div>
        </td>
        {% else %}
        <td style="text-align: center;"> 
            <div>
                <input type="checkbox" disabled>
            </div>
        </td>
        {% endif %}
        <td style="text-align: center;"><a href="/tiga/updaters/{{i.kode_faskes}}">Update</a></td>

    </tr>
    {% endfor %}

  </table>


</body>
</html>
