{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Update Data Rumah Sakit</title>
</head>
<body>
  <h2>Update Data Rumah Sakit</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="idtransaksi">Id Transaksi: </label>
            {% for i in transrs %}
            <input disabled id="idtransaksi" name = "idtransaksi" value = "{{ i.idtransaksi }}">
            <input type="hidden" id="idtransaksi" name = "idtransaksi" value = "{{ i.idtransaksi }}">
            {% endfor %}
    </div>

    <div>
        <label for="kodepasien">Kode Pasien </label>
            {% for i in transrs %}
            <input disabled id="kodepasien" name = "kodepasien" value = "{{ i.kodepasien }}">
            <input type="hidden" id="kodepasien" name = "kodepasien" value = "{{ i.kodepasien }}">
            {% endfor %}
    </div>

    <div>
        <label for="tanggalpembayaran">Tanggal Pembayaran: </label>
            {% for i in transrs %}
            <input disabled id="tanggalpembayaran" name = "tanggalpembayaran" value = "{{ i.tanggalpembayaran }}">
            <input type="hidden" id="tanggalpembayaran" name = "tanggalpembayaran" value = "{{ i.tanggalpembayaran }}">
            {% endfor %}
    </div>

    <div>
        <label for="waktupembayaran">Waktu Pembayaran: </label>
            {% for i in transrs %}
            <input disabled id="waktupembayaran" name = "waktupembayaran" value = "{{ i.waktupembayaran }}">
            <input type="hidden" id="waktupembayaran" name = "waktupembayaran" value = "{{ i.waktupembayaran }}">
            {% endfor %}
    </div>

    <div>
        <label for="tglmasuk">Tanggal Masuk: </label>
            {% for i in transrs %}
            <input disabled id="tglmasuk" name = "tglmasuk" value = "{{ i.tglmasuk }}">
            <input type="hidden" id="tglmasuk" name = "tglmasuk" value = "{{ i.tglmasuk }}">
            {% endfor %}
    </div>
    <div>
        <label for="totalbiaya">Total Biaya: </label>
            {% for i in transrs %}
            <input disabled id="totalbiaya" name = "totalbiaya" value = "{{ i.totalbiaya }}">
            <input type="hidden" id="totalbiaya" name = "faskes" value = "{{ i.totalbiaya }}">
            {% endfor %}
    </div>
    
    <div>
        <label for="statusbayar">Status Bayar: </label>
            {% for i in transrs %}
            <input id="statusbayar" name = "statusbayar" value = "{{ i.statusbayar }}">
            {% endfor %}
    </div>

    <div class="row center">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


</body>
</html>
