{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>List Transaksi Rumah Sakit</title>
</head>
<body>
  <h2>List Transaksi Rumah Sakit</h2><br><br>
  <table style="width: 50%;">
    <tr>
      <th>Id Transaksi</th>
      <th>Kode Pasien</th>
      <th>Tanggal Pembayaran</th>
      <th>Waktu Pembayaran</th>
      <th>Tanggal Masuk</th>
      <th>Total Biaya</th>
      <th>Status Bayar</th>
      <th>Action</th>
    </tr>

    {% for i in listtransaksi %}
    <tr>
        <td style="text-align: center;"> {{ i.idtransaksi }} </td>
        <td style="text-align: center;"> {{ i.kodepasien }} </td>
        <td style="text-align: center;"> {{ i.tanggalpembayaran }} </td>
        <td style="text-align: center;"> {{ i.waktupembayaran }} </td>
        <td style="text-align: center;"> {{ i.tglmasuk }} </td>
        <td style="text-align: center;"> {{ i.totalbiaya }} </td>
        <td style="text-align: center;"> {{ i.statusbayar }} </td>
        <td style="text-align: center;">
        <a href="/tiga/updatetransrs/{{i.idtransaksi}}">Update</a>
        <a href="/tiga/deletetransrs/{{i.idtransaksi}}">Delete</a>
        </td>
    </tr>
    {% endfor %}

  </table>


</body>
</html>
