{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Buat Jadwal Faskes</title>
</head>
<body>
  <h2>Buat Jadwal Faskes</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="faskes">Faskes: </label>
        <select required name="faskes" id="faskes">
            {% for i in daftar_faskes %}
            <option value="{{ i.nama }}">{{ i.nama }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="shift">Shift: </label>
        <input required name="shift" id="shift">
        </select>
    </div>

    <div>
        <label for="tanggal">Tanggal: </label>
        <input type="date" required name="tanggal" id="tanggal">
        </select>
    </div>

    
    <div class="row center">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


</body>
</html>
