{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>List Jadwal Faskes</title>
</head>
<body>
  <h2>List Jadwal Faskes</h2><br><br>
  <table style="width: 50%;">
    <tr>
      <th>No</th>
      <th>Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
    </tr>

    {% for i in listjadwalfaskes %}
    <tr>
        <td style="text-align: center;"> {{ forloop.counter }} </td>
        <td style="text-align: center;"> {{ i.nama }} </td>
        <td style="text-align: center;"> {{ i.shift }} </td>
        <td style="text-align: center;"> {{ i.tanggal }} </td>
    </tr>
    {% endfor %}

  </table>


</body>
</html>
