{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Siruco: Login</title>
</head>
<body>
  <h2>Log In</h2><br><br>

  <form method="POST">
    {% csrf_token %}

    <label for="username">Username: </label><br>
    <input type="text" name="username"><br><br>

    <label for="password">Password: </label><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Log In</button>
  </form>
  <a href="/satu/registrasi">DAFTAR DI SINI</a>
  {{ result }}

</body>
</html>
