{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>REGISTRASI</title>
</head>
<body>
  <h2>REGISTRASI</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="peran">Peran: </label>
        <select required name="peran" id="peran">
            <option value="0">Pengguna</option>
            <option value="1">Dokter</option>
            <option value="2">Admin Satgas</option>
            <option value="3">Sistem</option>
        </select>
    </div>

    <div>
        <label for="username">Username: </label>
        <small>(DIISI OLEH PENGGUNA, DOKTER, ADMIN SATGAS, SISTEM)</small><br>
        <input required type="text" name="username"><br><br>
    </div>
    <div>
        <label for="password">Password: </label>
        <small>(DIISI OLEH PENGGUNA, DOKTER, ADMIN SATGAS, SISTEM)</small><br>
        <input required type="password" name="password"><br><br>
    </div>

    <div>
        <label for="nama">Nama: </label>
        <small>(DIISI OLEH PENGGUNA, DOKTER)</small><br>
        <input type="text" name="nama"><br><br>
    </div>
    <div>
        <label for="nik">NIK: </label>
        <small>(DIISI OLEH PENGGUNA)</small><br>
        <input type="text" name="nik"><br><br>
    </div>
    <div>
        <label for="nohp">NO HP: </label>
        <small>(DIISI OLEH PENGGUNA, DOKTER)</small><br>
        <input type="text" name="nohp"><br><br>
    </div>
    <div>
        <label for="gelardepan">Gelar Depan: </label>
        <small>(DIISI OLEH DOKTER)</small><br>
        <input type="text" name="gelardepan"><br><br>
    </div>
    <div>
        <label for="gelarbelakang">Gelar Belakang: </label>
        <small>(DIISI OLEH DOKTER)</small><br>
        <input type="text" name="gelarbelakang"><br><br>
    </div>
    <div>
        <label for="faskes">Faskes: </label>
        <small>(DIISI OLEH ADMIN SATGAS)</small><br>
        <select required name="faskes" id="faskes">
            {% for i in daftar_faskes %}
            <option value="{{ i.kode }}">{{ i.kode }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="row center">
        <input type="submit" class="btn btn-primary">
    </div>
</form>


</body>
</html>
