{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Siruco - Add Bed</title>
</head>
<body>
  <h2>Form Penambahan Bed</h2><br><br>

  <form name="form1" action="" method="post" onsubmit="return checkSubmit()">
    {% csrf_token %}

    <label for="kodeRS">Kode Rumah Sakit:</label>
    <select id="kodeRS" name="kodeRS" onchange="myFunction(event)">
      <option value = "-">-</option>
      {% for i in daftarBed %}
        <option value="{{ i.kode }} {{ i.kodeRuangan }}" required>{{ i.kode }}</option>
      {% endfor %}
    </select> <br><br>

    <label for="kodeRuangan">Kode ruangan:</label>
    <select id="kodeRuangan" name="kodeRuangan" onchange="myFunction2(event)">
      <option value = "-">-</option>
      {% for i in daftarBed %}
        <option value="{{ i.kodeRuangan }} {{ i.bed }}" required>{{ i.kodeRuangan }}</option>
      {% endfor %}
    </select> <br><br>
    
    <label for="kodeBed">Kode Bed:</label>
    <input type="text" id="kodeBed" name="kodeBed" readonly><br><br>


    <input type="submit" value="Tambah ruangan">

  </form> 

</body>

<script>
  function myFunction(e) {
    
  }


  function myFunction2(e) {
    document.getElementById("kodeBed").value = "R" + e.target.value.split(" ")[1];
  }


  function checkSubmit() {
    if (document.form1.kodeRS.value == "-") {
      alert("Harap pilih rumah sakit.");
      return false;
    }
  }
</script>
</html>
