{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Siruco - Add Ruangan</title>
</head>
<body>
  <h2>Form Penambahan Ruangan</h2><br><br>

  <form name="form1" action="" method="post" onsubmit="return checkSubmit()">
    {% csrf_token %}

    <label for="kodeRS">Kode Rumah Sakit:</label>
    <select id="kodeRS" name="kodeRS" onchange="myFunction(event)">
      <option value = "-">-</option>
      {% for i in daftarRS %}
        <option value="{{ i.kode }} {{ i.max }}" required>{{ i.kode }}</option>
      {% endfor %}
    </select> <br><br>

    <label for="kodeRuangan">Kode ruangan:</label>
    <input type="text" id="kodeRuangan" name="kodeRuangan" disabled><br><br>
    
    <label for="tipe">Tipe:</label>
    <input type="text" id="tipe" name="tipe" required><br><br>

    <label for="harga">Harga:</label>
    <input type="text" id="harga" name="harga" required><br><br>

    <input type="submit" value="Tambah ruangan">

  </form> 

</body>

<script>
  function myFunction(e) {
    document.getElementById("kodeRuangan").value = "R" + e.target.value.split(" ")[1];
  }
  function checkSubmit() {
    if (document.form1.kodeRS.value == "-") {
      alert("Harap pilih rumah sakit.");
      return false;
    }
    
  }
</script>
</html>
