{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Siruco - Pemeriksaan Dokter</title>
</head>
<body>
  <h2>Reservasi dokter berhasil ditambahkan.</h2><br><br>
  <a href="/dua/reserveDokter">Kembali ke daftar jadwal</a>
  
</body>
</html>
