{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Siruco - Pemeriksaan Dokter</title>
</head>
<body>
  <h2>Form Reservasi Pemeriksaan Dokter</h2><br><br>

  <form action="" method="post">
    {% csrf_token %}
    
    <label for="nikselect">NIK Pasien:</label>
    <select id="nikselect" name="nikselect">
      {% for i in NIKs %}
        <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select> <br><br>

    <label for="unameDokter">Email dokter:</label>
    <input type="text" id="unameDokter" name="unameDokter" readonly="readonly" value={{ untukForm.username }}><br><br>

    <label for="kodeFaskes">Kode faskes:</label>
    <input type="text" id="kodeFaskes" name="kodeFaskes" readonly="readonly" value={{ untukForm.kode_faskes }}><br><br>

    <label for="tanggal">Tanggals:</label>
    <input type="text" id="tanggal" name="tanggal" readonly="readonly" value={{ untukForm.tanggal }}><br><br>

    <label for="shift">Shift:</label>
    <input type="text" id="shift" name="shift" readonly="readonly" value={{ untukForm.shift }}><br><br>

    <input type="submit" value="Buat Reservasi">

  </form> 




</body>
</html>
