{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Siruco - Pemeriksaan Dokter</title>
</head>
<body>
  <h2>Jadwal Pemeriksaan Dokter</h2><br>

  <a href="/home">Home</a><br>

  <table style="width: 50%;">
    <tr>
      <th>No.</th>
      <th>NIK Pasien</th>
      <th>No. STR</th>
      <th>Email Dokter</th>
      <th>Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
      <th>Rekomendasi</th>
    </tr>

    {% for i in listAppointment %}
      <tr>
          <td style="text-align: center;"> {{ i.urutan }} </td>
          <td style="text-align: center;"> {{ i.nik_pasien }} </td>
          <td style="text-align: center;"> {{ i.nostr }} </td>
          <td style="text-align: center;"> {{ i.username_dokter }} </td>
          <td style="text-align: center;"> {{ i.kode_faskes }} </td>
          <td style="text-align: center;"> {{ i.praktek_shift }} </td>
          <td style="text-align: center;"> {{ i.praktek_tgl }} </td>

          {% if i.rekomendasi == None %}
            <td style="text-align: center;"> - </td>
          
          {% else %}
            <td style="text-align: center;"> {{ i.rekomendasi }} </td>
          
          {% endif %}
          
      </tr>
    {% endfor %}

  </table>



  
</body>
</html>
