{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Siruco - Pemeriksaan Dokter</title>
</head>
<body>
  <h2>Form Reservasi Pemeriksaan Dokter</h2><br><br>

  <form action="" method="post">
    {% csrf_token %}
    
    <label for="nikpasien">NIK Pasien:</label>
    <input type="text" id="nikpasien" name="nikpasien" readonly="readonly" value={{ appointmentUpdate.nik_pasien }}><br><br>

    <label for="unameDokter">Email dokter:</label>
    <input type="text" id="unameDokter" name="unameDokter" readonly="readonly" value={{ appointmentUpdate.username_dokter }}><br><br>
    
    <label for="shift">Shift praktek:</label>
    <input type="text" id="shift" name="shift" readonly="readonly" value={{ appointmentUpdate.praktek_shift }}><br><br>
    
    <label for="tanggal">Tanggal praktek:</label>
    <input type="text" id="tanggal" name="tanggal" readonly="readonly" value={{ appointmentUpdate.praktek_tgl }}><br><br>

    <label for="kodeFaskes">Faskes:</label>
    <input type="text" id="kodeFaskes" name="kodeFaskes" readonly="readonly" value= "Faskes {{ appointmentUpdate.kode_faskes }}"><br><br>

    <label for="rekomendasi">Rekomendasi:</label>
    <textarea id="rekomendasi" name="rekomendasi" rows="4" cols="50"></textarea><br><br>

    <input type="submit" value="Update Rekomendasi">

  </form> 




</body>
</html>
